 :root{
    --primary: #f5f5f5;
    --secondary: #a1a1aa;
    --accent: #f97316;
    --bg: #0b0b0d;
    --card: #111113;
    --border: #27272a;
  }
  .container {
    display: flex;
    gap:20px;
    padding:20px;
    flex-wrap:wrap;
  }
    header {
    position: sticky;
    top: 0;
    background-color: var(--card);
    color: white;
    padding: 10px 20px;
    z-index: 100;
    flex-direction:column;
    border:1px solid var(--secondary);
    border-radius:40px;
}
    main {
      flex:2;
      background-color:var(--bg);
      padding:20px;
      border:1px solid var(--secondary);
      border-radius:40px;
      color: var(--primary);
    }
    body {
      font-family: "Times New Roman", Times, serif;
      line-height: 1.5;
      color: var(--primary);
      margin:0;
      background-color:var(--accent);
    }
    .nav-links {
      background-color: var(--bg);
      padding: 10px 0;
      list-style: none;
      display: flex;
      justify-content:center;
      gap: 50px;
      margin: 0;
      width:900px;
      
    }
    .nav-links a{
      color:var(--secondary);
      text-decoration:none;
      font-weight: bold;
      transition:0.3s;
    }
    .nav-links a:hover{
      color:var(--accent);
    }
    section{
      display:flex;
      flex-direction:column;
      align-items:center;
    }
    .footer-links a{
      color:var(--secondary);
      text-decoration:none;
      font-weight: bold;
      transition:0.3s;
    }
    .footer-links {
      background-color: var(--bg);
      padding: 10px 0;
      list-style: none;
      display: flex;
      justify-content:center;
      gap: 50px;
      margin: 0;
      width:900px;
      
    }
   .footer-links a:hover{
      color:var(--accent);
    }
